<div class="container col-md-5">
<div class="booyah-box d-flex justify-content-center">
<%= form_with(model: meeting, local: true, class: "meeting-form") do |form| %>
  <% if meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>
      <ul>
      <% meeting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h3 class="mb-4">Meeting Information</h3>
  <div class="mb-6">
    <%= form.label :Title, class: "form-group" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <div class="mb-6">
    <%= form.label :start_time, class: "label" %>
    <div class="form-group">
      <%= form.datetime_select :start_time, { start_day: Date.today, start_year: Date.today.year, minute_step: 15 }, { class: "select" } %>
    </div>
  </div>
  <div class="field">
    <%= form.label :end_time, class: "label" %>
    <div class="form-group">
      <%= form.datetime_select :end_time, { start_day: Date.today, start_year: Date.today.year, minute_step: 15 }, { class: "select" } %>
    </div>
  </div>
  <hr class="border" />
  <%= form.submit class: "btn btn-primary text-base py-3 px-5" %>
<% end %>
</div>
</div>
