<div class="panel panel-default">
<nav class="bg-white mb-4 shadow rounded">
  <ul id="nav-tab" class="tabs nav nav-pills nav-tab">
    <li class="active" data-tab="calendar">
      <%= link_to "#calendar", class: "tab flex items-center mtg-link" do %>
         <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;<title>calendar</title>
       Calendar
      <% end %>
    </li>

     <li data-tab="all-meetings">
      <%= link_to "#all-meetings", class: "tab flex items-center mtg-link" do %>
         <i class="fa fa-coffee"></i>&nbsp;<title>coffee</title>
      All Meetings
      <% end %>
    </li>
  </ul>
</nav>
</div>

<div id="all-meetings" class="tab-panel">
  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  <% meetings.each do |meeting| %>
    <tr>
      <th scope="row"><%= meeting.id %></th>
      <td><%= link_to meeting.name, meeting, class: "link mr-4" %></td>
      <td><%= readable_time(meeting.start_time) %></td>
      <td><%= readable_time(meeting.end_time) %></td>
      <td><%= link_to "Cancel Meeting", meeting, method: :delete, data: { confirm: "Are you sure? There are no refunds." }, class: "btn btn-destroy ml-4" %></td>
    </tr>
  </tbody>
  <% end %>
</table>
</div>


<div class="bg-white p-10 border rounded booyah-box">
<h2 class="mtg_cal_title">Meeting Calendar</h2>
  <div id="calendar" class="mtg_calendar tab-panel active">
    <div id="meeting-calendar">
      <%= render "calendar", meetings: meetings  %> 
    </div>
  </div>
</div>


